* {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    outline: none;
}

body {
    background-color: #0001 !important;
}

.navbar {
    width: 100vw;
    box-shadow: 0 5px 10px 0 #00000020;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}

.nav-link {
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-collapse {
    justify-content: flex-end;
    padding-right: 7vw;
}

.body-wrapper {
    padding-top: 50px;
    min-height: calc(100vh - 80px);
}

#header-container {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('../assets/BackgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px 0 #00000020;
}

::-moz-selection {
    color: white;
    background: #f50;
}

::selection {
    color: white;
    background: #f50;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #7777;
}

::-webkit-scrollbar-thumb {
    background: #ff5500cc;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff5500;
}

body::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll {
    scrollbar-color: #ff5500cc #7777;
    scrollbar-width: thin;
}

audio::-internal-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-pane {
    border-radius: 0%;
}

p {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.showOnSearch {
    display: none;
}

body.searching .showOnSearch {
    display: initial;
}

body.searching .hideOnSearch {
    animation: blurAnimate 30s normal forwards;
}

.btn {
    z-index: 10;
}

.btn-group {
    border-color: #f50;
    border-radius: 10px;
}

.btn-playing {
    background-image: none !important;
    background-color: #343a40 !important;
    box-shadow: 0px 0px 3px 1px #f50;
    transition: all 0.5s;
}

.title {
    color: #00000085;
    font-size: 1.75rem;
}

.form-control:focus {
    box-shadow: none;
}

.btn-orange {
    color: white;
}

.btn-orange:focus {
    border-color: #f50;
    box-shadow: 0px 0px 1px 2px #ff550099;
}

.defColor {
    background-image: linear-gradient(#f50, #ff8239);
    color: white;
}

.color-orange {
    color: #f50 !important;
}

.input-group.input-group-sm.glowThis * {
    font-size: 2rem;
    height: auto;
}

.searchTextCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
}

.searchCont {
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00000091;
}

#SearchInput {
    border: none;
    background: none;
    color: white;
    font-weight: 100;
    margin-right: -1;
}

#SearchInput::placeholder {
    color: #ffffff6b;
    opacity: 1;
}

#SearchInput:-ms-input-placeholder {
    color: #ffffff6b;
}

#SearchInput::-ms-input-placeholder {
    color: #ffffff6b;
}

#SearchBtn {
    border: none;
    border-radius: 5px;
}

.input-group-text {
    cursor: pointer;
}

.viewSelecCont {
    width: auto;
    border-radius: 10px;
    align-items: center;
    background-color: #00000091;
    cursor: pointer;
}

.CopybtnCont {
    width: auto;
    border-radius: 10px;
    color: white;
    align-items: center;
    padding-left: 10px;
}

.viewSelectImg {
    height: 35;
    width: 35;
    padding: 9px;
    border-radius: 10px;
}

.viewSelectImg-selected {
    padding: 5px;
    background-image: linear-gradient(#f50, #ff8239);
    border: solid 1px #f50;
    transition: all 0.05s;
}

.Copybtn {
    height: 35;
    align-items: center;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

#heading {
    font-size: 25px;
    font-weight: bold;
    color: #0009;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    color: #333e;
}

.tipsCont {
    width: 100%;
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 5px 10px 0 #00000020;
    border-radius: 5px;
}

.tips p {
    color: #000a;
}

.tips span {
    color: #000c;
}

.tipsTitle {
    font-size: x-large;
    font-weight: bold;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid 2px #f50;
    background-color: #343a40;
    box-shadow: 0 -5px 10px 0 #00000020;
    height: 80px;
}

.modal-dialog {
    max-width: 750 !important;
}

.links {
    margin: 0 1rem;
    color: #f50;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.links:hover {
    text-decoration: none;
    color: #eee;
    transition: all 0.2s ease-in;
}

.linksBreak {
    color: #fff !important;
}

.linksCont {
    max-width: 800px;
    text-align: -webkit-center;
}

.viewBtnCont {
    display: flex;
    justify-content: flex-end;
}

.item {
    background-color: #fff;
    width: calc(15vw + 15vh + 15px);
    max-width: 316px;
    box-shadow: 0 5px 10px 0 #00000020;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem !important;
}

.item:hover .soundBackImg {
    transform: scale(1.05);
}

.item-link {
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease-in;
}

.item-link:hover {
    text-decoration: none;
    color: #333;
}

.itemList {
    background-color: #fff;
    width: -webkit-fill-available;
    flex-direction: row;
    position: relative;
    box-shadow: 0 5px 10px 0 #00000020;
}

.itemList:hover .soundBackImgList {
    transform: scale(1.1);
}

.soundBackImgList {
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.imgCont {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.imgContList {
    text-align: start;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.listDownImg {
    width: 15px;
    height: 15px;
}

.downBtn {
    height: 30px;
    width: 30px;
    padding: 9px;
    border-radius: 10px !important;
    border: 0;
    background: transparent;
}

.downBtnCont {
    margin: 5;
    position: absolute;
    z-index: 20;
}

.downBtnlist {
    height: 40;
    border: solid #343a40 2px;
    padding: 8;
    padding-top: 0;
    padding-bottom: 0;
}

.soundBackImg {
    height: calc(15vw + 15vh);
    width: calc(15vw + 15vh);
    max-height: 300px;
    max-width: 300px;
    transition: all 0.2s ease-in;
    border-radius: 10px;
    border-radius: 0.25rem !important;
}

.soundArtist {
    font-size: small;
    line-height: 1;
}

.soundTitle {
    word-break: break-all;
}

.font-large {
    font-size: 2rem;
}

.download-page .soundArtist {
    font-size: 1rem;
}

.download-page .soundTitle {
    font-size: 2rem;
}

.listCont {
    position: absolute;
    height: calc(15vw + 15vh);
    width: calc(15vw + 15vh);
    max-height: 300px;
    max-width: 300px;
    background-color: #2d2d2d8c;
    overflow: auto;
    z-index: 20;
}

.listContList {
    height: 200;
    width: 100%;
    background-color: #ffffffcc;
    border: solid #f50 1px !important;
    overflow: auto;
}

.listItem {
    font-size: 12;
    color: #ffffffaa;
    background-color: #00000030;
    height: 20;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: initial;
    border: solid 1px #0000000f;
    cursor: pointer;
    transition: all 0.2s;
}

.listItem:hover {
    background-color: #af3a00;
}

.ListSoundImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.listDownBtncont {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 5px;
}

.playlistItemList {
    flex-direction: row;
    position: relative;
    display: inline-flex;
}

.playlistItemListInner {
    width: 200px;
}

.playlistContList {
    height: 275;
    width: 100%;
    overflow: auto;
    background-color: #000000aa;
}

.playlistDownBtncont {
    margin: 5;
    position: absolute;
    border-radius: 10px;
    right: 0;
    background: transparent;
}

.playlistDownBtn {
    height: 30px;
    padding: 3px;
    padding-right: 7px;
    padding-left: 10px;
    border-radius: 10px !important;
    border: 0;
    background: transparent;
}

.playlistDownBtnImg {
    width: 15px;
}

.playlistTrackTitle {
    word-break: break-all;
    color: white;
    font-size: 13.5px;
}

.listDownBtn {
    height: 18px;
    width: 20px;
    padding: 3px;
    background: transparent;
}

.glow {
    border-radius: 2px;
    animation: glowAni 2s infinite;
}

.menu {
    bottom: 0;
    position: fixed;
    right: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 15;
    transition: all 0.7s;
}

.playerCont {
    height: 65px;
    background-color: #f1f3f4;
    box-shadow: 0 0 25px 5px #00000044;
    overflow: hidden;
    z-index: 100;
    transition: all 0.7s;
}

.playerHide .playerBtn {
    height: 20px;
    transition: all 0.7s;
}

.playerHide {
    height: 25px;
    transition: all 0.7s;
}

.playerBtn {
    height: 0px;
    width: 25px;
    margin-right: 50%;
    margin-left: 50%;
    transition: all 0.7s;
}

.audioCont {
    background-color: #f1f3f4;
    border-top-left-radius: 32px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

.audioTitle {
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    height: 24px;
}

#audioControls {
    width: 100%;
    border-radius: 0;
    background-color: #f1f3f4;
    height: 30px;
}

#audioControls:focus {
    outline: none;
}

#audioControls::-webkit-media-controls-panel {
    border-radius: 0;
    background-color: #f1f3f4;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 1.3rem;
    }

    #SearchInput {
        font-size: 1.5rem;
    }

    #SearchBtn {
        font-size: 1.2rem;
    }

    .playerCont {
        bottom: 30px;
    }

    .home .footer {
        padding-bottom: 100px !important;
    }

    .playlistDownBtnText {
        display: none;
    }
}

@keyframes glowAni {
    0% {
        box-shadow: 0 0 #d2602755, inset 0 0 0px 2px #d26027;
    }
    65% {
        box-shadow: 0 0 0px 8.5px #d26027, inset 0 0 0px 2px #d26027;
    }
    77% {
        box-shadow: 0 0 #d2602755, inset 0 0 0px 2px #d26027;
    }
}

@keyframes blurAnimate {
    0% {
        filter: blur(1px);
    }
    20% {
        filter: blur(1.5px);
    }
    50% {
        filter: blur(3.5px);
    }
    100% {
        filter: blur(50px);
    }
}
